---
- name: asdf local
  command: asdf local nodejs {{ version }}

- name: npm update -g
  command: npm update -g
  ignore_errors: true

- name: npm install -g
  command: npm install -g {{ item }}
  # community.general.npm:
  #   global: yes
  #   name: "{{ item }}"
  #   state: latest
  loop:
    - "@anthropic-ai/claude-code"
    - "@github/copilot"
    - "@google/clasp"
    - "@hubspot/cli"
    - "@marp-team/marp-cli"
    - "@openai/codex"
    - clear-npx-cache
    - nbb
    - npm-check-updates
    - npm-safety-updater
    - prettier
    - sql-formatter
    - textlint
    - typescript
    - typescript-language-server
    - yarn
    - yarn-deduplicate

- name: asdf reshim
  command: asdf reshim nodejs
