[core]
	excludesfile = ~/.gitignore
[user]
	name = {{ user_name | default("ne_Sachirou") }}
	email = {{ user_email | default("utakata.c4se@gmail.com") }}
[http]
[https]
[url "https://"]
[http]
[https]
[url "https://"]
[alias]
	st = status -sb
	br = branch
	ci = commit
	co = checkout
	graph = log --graph --oneline --decorate=full
[push]
	default = simple
# vim:noet:
