[alias]
	br = branch
	ci = commit
	co = checkout
	graph = log --decorate=full --graph --oneline
	pull-p = !git pull -p --all && git gone && etags-of
	push-f = push --force-if-includes --force-with-lease
	st = status -sb
	sw = switch
[color]
	ui = true
[commit]
	gpgsign = true
[core]
	longpath = true
	quotepath = false
	sparseCheckout = false
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	default = simple
[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	name = {{ user_name | default("ne-sachirou") }}
	email = {{ user_email | default("utakata.c4se@gmail.com") }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBsyRKxoaO6xthoCslV9zZWg8E4rNEcPIA5ruL9INuce
# vim:noet:
